      <%# メインヘッダー %>
      <div class="main_chat_header">

        <div class="header_room_name">
          <%= @room.name %>
        </div>

        <div class="header_exit_button">
            <%= link_to "チャットを終了する" , room_path(@room), method: :delete %>
        </div>

      </div>

      <%# メインチャット %>
      <div class="main_chat">
      <%# 部分テンプレート呼び出し %>
        <%= render partial: 'message', collection: @messages %>
      </div>

      <%# メッセージ欄 %>
<%= form_with model: [@room, @message], class: 'message_form', local: true do |f| %>
  <div class="form_input">
    <%= f.text_field :content, class: 'form_text', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form_button' %>
<% end %>